page-location-changer {
  .delivery-address_content {
    margin-top: 0;
  }
  #map {
    width: 100%;
    height: 100%;
  }
  .card-map {
    height: 100%;
  }

  .sebm-google-map-container {
    height: 32rem;
  }
  .search-input {
  }
}
