<ion-header>
  <ion-navbar class="header-bar">
    <ion-title>{{'Orders History' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="orders-content">

  <!-- <pre>
    {{ordersList | json}}
  </pre>
 -->
  <div *ngIf="ordersList && ordersList.length > 0">

    <section>
      <ion-card *ngFor="let order of ordersList">
        <ion-row class="product-info">
          <ion-col col-4 *ngIf="order && order.items.length > 0">
            <img *ngIf="order.items[0].images && order.items[0].images.length > 0"
            src="{{apiUrl + order.items[0].images[0].url}}">
          </ion-col>
          <ion-col col-8>
            <h2>{{order.restaurant.restaurant_name}}</h2>
            <h6>{{'Order Id' | translate}}: <span>{{order.order_name}}</span> </h6>
            <h6>{{'Order Status' | translate}}: <span>{{order.order_status}}</span></h6>
            <h6>{{'Order Date' | translate}}: <span>{{order.createdAt| date:'dd/MM/yyyy'}}</span></h6>
            <h5>
              <a (click)="onViewDeliveredOrder(order.id)">{{'View' | translate}}</a>
            </h5>
          </ion-col>
        </ion-row>
      </ion-card>
      <!--// card-product -->

      <div *ngIf="ordersList && ordersList.length == 0">
        <h5 class="no-order-heading" text-center>
          <ion-icon name="bookmarks"></ion-icon>
          {{'No orders Yet' | translate}}
        </h5>
      </div>

    </section>

  </div>

</ion-content>
