page-restaurant-details {
  .restaurant-close {
    text-align: center;
    color: $black-c;
    margin-top: 40%;
    padding: 0 2rem;
    .icon {
      font-size: 6rem;
    }
  }
}

#cartBadge {
  position: absolute;
  top: -3px;
  left: 22px;
}

#proceedToCartBtn {
  width: 100%;
  padding: 5% 0%;
  background-color: #4caf50;
  color: #fefefe;
}
