page-order-details {
}

.paybill, .invoice {
  background-color:#4caf50 !important;
  color: #fefefe !important;
}

.back-btn {
  background-color:orange !important;
  color: #fefefe !important;
}

.footer-btn {
  display: flex;
}


